.content {
    width: 100vw;
    box-sizing: border-box;
}

.mat-icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.loading {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    width: 50px;
}

/* .content::-webkit-scrollbar {
    display: none;
  }
  
 
.content {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  } */