a {
    font-size: 1.1rem;
    font-family: 'Roboto Slab', serif;
}

.sidebar {
    width: 250px;
    height: calc(100vh - 150px);
    position: absolute;
    border-right: 1px solid black;
    z-index: 5;
    translate: 0.5s;
}

.toggle {
    transform: translateX(-250px);
}

.ham {
    padding: 3px;
}

.mat-header-cell {
    text-align: center;
}