<div>
  <div class="container">
    <div class="isLoading" *ngIf="isLoading">
      <img src="../../../assets/images/loading.gif" alt="loading..." />
    </div>
    <div *ngIf="noFiles && !isLoading" class="no-files">
      No files to display
    </div>
    <div class="table" *ngIf="!noFiles && !isLoading">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Version Column -->
        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef>Version</th>
          <td mat-cell *matCellDef="let element">{{ element.version }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element">{{ element.department }}</td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view_download">
          <th mat-header-cell *matHeaderCellDef width="80px"></th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              (click)="view(element.id)"
              aria-hidden="false"
              aria-label="Example home icon"
              >info
            </mat-icon>
            <mat-icon
              [style.margin-left]="'10px'"
              (click)="downloadDoc(element.index)"
              aria-hidden="false"
              aria-label="Example home icon"
              >download
            </mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="viewNavigate(row.id)"
        ></tr>
      </table>
    </div>
  </div>
</div>
